.board {
    margin: auto;
    background-color: #fb2328;
    overflow: hidden;
    outline: none;
}

.cell, .body-cell, .food-cell {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    float: left;
}

.cell{
    border: 1px solid black;
}

.body-cell {

    background-color: #20ff35;
    border-radius: 25px 25px 0 0 ;
}

.food-cell {
    background-color: #6700ff;
    border-radius: 50px;
}